.pagination {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pagination__list {
    display: flex;
    gap: 10px;
}

.pagination__item {
    width: 30px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.page__active {
    background-color: red;
    color: white;
}

@media (min-width: 600px) {
    .pagination__item {
        width: 40px;
        font-size: 2rem;
    }
}